@page
@model RazorAucionWebapp.Pages.Vnpay.RefundModel
@{
	var successMessage = TempData.TryGetValue("RefundSuccess", out var message);
	if (message is not null)
	{
		<div>
			<p class="text-success">@message</p>
		</div>
	}
}
<div class="text-danger container border border-2 m-3 p-3" asp-validation-summary="ModelOnly"></div>
<div class="d-flex justify-content-center"><a class="btn btn-primary " asp-page="/Index">Home</a></div>
