@page
@using Repository.Database.Model.RealEstate;
@model RazorAucionWebapp.Pages.CompanyPages.EstateMng.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Company account</li>
            <li class="breadcrumb-item">My estate</li>
            <li class="breadcrumb-item"><a href="#">Create new</a></li>
        </ol>
    </nav>
    <div class="row form_wrapper">
        <div class="col-md-4 form_img"></div>
        <div class="col-md-8">
            <div class="create_form">
                <h4 class="form_header">Create new estate</h4>
                <hr />
                <form method="post" id="create_estate_frm" enctype="multipart/form-data">
                    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Name of estate</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Width" class="control-label">Width (m)</label>
                                <input asp-for="Width" class="form-control" />
                                <span asp-validation-for="Width" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Length" class="control-label">Length (m)</label>
                                <input asp-for="Length" class="form-control" />
                                <span asp-validation-for="Length" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Area" class="control-label">Total area (m²)</label>
                                <input asp-for="Area" class="form-control" />
                                <span asp-validation-for="Area" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Floor" class="control-label">Number of floors </label>
                                <input asp-for="Floor" class="form-control" />
                                <span asp-validation-for="Floor" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Location" class="control-label">Address</label>
                                <input asp-for="Location" class="form-control" />
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Coordinate" class="control-label">Coordinate</label>
                                <input asp-for="Coordinate" class="form-control" />
                                <span asp-validation-for="Coordinate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Description</label>
                                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Estate description...."></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SelectedEstateCategoriesOptions" class="control-label" style="margin-bottom: .5rem">Estate categories</label>
                                <input type="hidden" asp-for="SelectedEstateCategoriesOptions" multiple />
                                <div class="row">
                                    @foreach (var item in Model.EstateCategoriesOptions)
                                    {
                                        <div class="col-md-4 cates">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="@item.Value" name="SelectedEstateCategoriesOptions" value="@item.Value">
                                                <label class="form-check-label" for="@item.Value">
                                                    @item.Text
                                                </label>
                                            </div>
                                        </div>
                                    }
                                    <span asp-validation-for="SelectedEstateCategoriesOptions" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="mb-3">Estate images</label>
                        <div class="d-flex justify-content-start">
                            <div class="d-flex flex-row justify-content-start" id="ImageShowcase" style="height: 0px"></div>
                            <label for="ImageInput" class="control-label">
                                <div class="add_img_btn "></div>
                            </label>

                        </div>
                        <input id="ImageInput" type="file" asp-for="Images" class="form-control" style="display: none;" multiple accept=".png,.jpeg, .jpg" />

                        <span asp-validation-for="Images" class="text-danger"></span>
                    </div>
                    <div class="form-group create_btn">
                        <a class="btn btn-primary" data-bs-target="#createModal" data-bs-toggle="modal">Create</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Confirmation</h5>
            </div>
            <div class="modal-body">
                <span aria-hidden="true" id="modal-desc">Are you sure to create this easte</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" value="Confirm" form="create_estate_frm" id="modal-confirm" class="btn btn-success"></input>
            </div>
        </div>
    </div>
</div>

<script>
    function updateValue() {
        var checkedBoxes = document.querySelectorAll('input[name="cateOptions"]:checked');
        var selectedCates = Array.from(checkedBoxes).map((checkbox) => {
            return checkbox.value;
        });
        document.getElementById('inputtedCates').value = selectedCates.join(',');
    }
    async function getImageUrl(image) {
        return new Promise((resolve, reject) => {
            var reader = new FileReader();
            reader.onload = function (e) {
                resolve(e.target.result);
            }
            reader.onerror = function (err) {
                reject(e.target.error);
            }
            reader.readAsDataURL(image);
        })
    }

    $('#ImageInput').on('change', async function () {
        var images = this.files;
        console.log(images)
        if (images.length > 5) {
            alert('You can only upload maximum 5 images');
        }
        else {

            var size = 80;
            if (images.length == 0) $('#ImageShowcase').css('height', '0px')
            else $('#ImageShowcase').css('height', size)
            var content = '';
            for (var i = 0; i < images.length; i++) {
                const url = await getImageUrl(images[i]);
                content += (`<img src="${url}" width="${size}" height="${size}" style="margin-right: 1rem; border-radius: .2rem;"/>`)
            }
            $('#ImageShowcase').html(content)
        }
    });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
