@page
@using Repository.Database.Model.RealEstate;
@model RazorAucionWebapp.Pages.CompanyPages.EstateMng.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h4>Create new estate</h4>
    <hr />
    <form method="post" id="create_estate_frm">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name of estate</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label">Estate images</label>
                    <input asp-for="ImageUrl" class="form-control" readonly value="~/wwwroot/PublicImages/estate01.jpg" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Width" class="control-label">Width of the estate (m)</label>
                    <input asp-for="Width" class="form-control" />
                    <span asp-validation-for="Width" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Length" class="control-label">Length of the estate (m)</label>
                    <input asp-for="Length" class="form-control" />
                    <span asp-validation-for="Length" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CheckedCategoriesBoxes" class="control-label">Estate categories</label>
            <div class="row">
                @foreach (var item in Model.EstateCategoriesOptions)
                {
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="@item.Value" name="cateOptions" value="@item.Value" onchange="updateValue()">
                            <label class="form-check-label" for="@item.Value">
                                @item.Text
                            </label>
                        </div>
                    </div>
                    
                }
            </div>
            <span asp-validation-for="CheckedCategoriesBoxes" class="text-danger"></span>
            <input id="inputtedCates" asp-for="CheckedCategoriesBoxes" style="visibility: hidden; height: 0;"/></br>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

@* 
    <div>
        <a asp-page="Index">Back to List</a>
    </div> *@
</div>


</div>

<script>
    function updateValue() {
        var checkedBoxes = document.querySelectorAll('input[name="cateOptions"]:checked');
        var selectedCates = Array.from(checkedBoxes).map((checkbox) => {
            return checkbox.value;
        });
        document.getElementById('inputtedCates').value = selectedCates.join(',');
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
