@page
@model EditModel
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div>
        @if(TempData["UpdateFail"] is not null)
        {
            <div class="alert alert-danger">
                @TempData["UpdateFail"]
            </div>
        }
        @if (TempData["DelFail"] is not null)
        {
            <div class="alert alert-danger">
                @TempData["DelFail"]
            </div>
        }
    </div>
    <div class="col-md-4">
        <a asp-page="./Index">Go back to Categories</a>
        <form method="post" id="edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="EstateCategoryDetail.CategoryId" type="hidden"/>
            <div class="form-group">
                <label asp-for="EstateCategoryDetail.CategoryName" class="control-label">Name</label>
                <input asp-for="EstateCategoryDetail.CategoryName" class="form-control" />
                <span asp-validation-for="EstateCategoryDetail.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstateCategoryDetail.Description" class="control-label"></label>
                <input asp-for="EstateCategoryDetail.Description" class="form-control" />
                <span asp-validation-for="EstateCategoryDetail.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="del" data-bs-toggle="modal" data-bs-target="#updateModal">Update</a>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="updateModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirmation
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    Are you sure to update this category 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                 <input type="submit" form="edit" class="btn btn-success" value="Confirm" />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
