@page
@model LoginModel
@{
}
<div class="wrapper">
	<form class="inputFrm" method="post">
		<h3>LOGIN</h3>
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="inputGrp">
			<input  asp-for="Email" required/>
			<label class="lbl" asp-for="Email">Email</label>
			<div class="wBorder"></div>
			 <span asp-validation-for="Email" class="text-danger"></span> 
		</div>
		<div class="inputGrp">
			<input asp-for="Password" required />
			<label asp-for="Password">Password</label>
			<div class="wBorder2"></div>
			 <span asp-validation-for="Password" class="text-danger"></span> 
		</div>
		<div>
			<button type="submit" class="btn btn-primary">Login</button>
			<span>Not a member? Sign up <a href="Signup">here</a></span>
		</div>
	</form>
</div>