@page
@model RazorAucionWebapp.Pages.CompanyPages.AuctionMng.UpdateModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Auction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Auction.AuctionId" />

            <div class="form-group">
                <label asp-for="IsCancelled" class="control-label"></label>
                <input type="checkbox" asp-for="IsCancelled" class="form-control" value="Do you want to cancel the current estate"/>
                <span asp-validation-for="IsCancelled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
