@page
@model RazorAucionWebapp.Pages.CustomerPages.JoinAuctionModel
@{
}
<div>
    <div>
        <a asp-page="/Index" class="btn btn-outline-primary">Go back to Home</a>
    </div>
    <div>Entrance fee is @Model.Auction.EntranceFee</div>

</div>